*.out
*.test
.env
.env.*
!.env.example

/bin/
/tmp/

*.log

*.swp
/backend/.envrc
/backend/tmp
/frontend/AGENTS.md
/frontend/CLAUDE.md
/frontend/README.md
/backend/.gemini
/backend/GEMINI.md
/backend/graphify-out
/frontend/graphify-out
/frontend/graphify-out
